<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="form-container">
      <form [formGroup]="formGroup" class="login-form">

        <mat-form-field appearance="fill" class="input-full-width">
          <mat-label>Old Password</mat-label>
          <input [type]="oldPasswordVisible ? 'text' : 'password'" matInput formControlName="oldPassword" placeholder="Old Password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="oldPasswordVisible = !oldPasswordVisible">
            <mat-icon>{{ oldPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('oldPassword').hasError('required')">
            Field is <strong>required</strong> 
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="input-full-width">
          <mat-label>New Password</mat-label>
          <input [type]="newPasswordVisible ? 'text' : 'password'" matInput formControlName="newPassword" placeholder="New Password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="newPasswordVisible = !newPasswordVisible">
            <mat-icon>{{ newPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('newPassword').hasError('required')">
            Field is <strong>required</strong> 
          </mat-error>
        </mat-form-field>

        <br>
        <button class="btn" mat-flat-button color="primary" (click)="resetPassword()" [disabled]="formGroup.invalid">
          <ion-spinner *ngIf="isResetting" name="crescent"></ion-spinner>
          <ion-text *ngIf="!isResetting">
            Reset
          </ion-text>
        </button>
      </form>
    </div>

  </div>
</ion-content>
