<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="banner">

      <ion-icon class="icon-bg" style="top: 10%; left: 15%; transform: rotate(-45deg);" name="gift"></ion-icon>
      <ion-icon class="icon-bg" style="bottom: 15%; right: 15%; transform: rotate(30deg);" name="gift"></ion-icon>
      <div class="circle solid" style="height: 20px; width: 20px; bottom: 10%; right: 20%;"></div>
      <div class="circle solid" style="height: 60px; width: 60px; top: 50%; left: -10px;"></div>
      <div class="circle outline" style="height: 80px; width: 80px; bottom: -10%; right: 50%;"></div>
      <div class="circle outline" style="height: 120px; width: 120px; top: -10%; right: -15px;"></div>

      <h1 class="banner-text">
        <ion-icon name="cart-outline" style="font-size: 35px;"></ion-icon>
        Shipment Tracker
      </h1>
    </div>
    
    <div class="card-container">
      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <a class="card" [routerLink]="['/dashboard/add']">
              <div class="top">
                <div class="icon ion-text-center">
                  <ion-icon name="add-circle-outline" ></ion-icon>
                </div>

                <h5>Create Tracking</h5>
              </div>
              <div class="bottom ion-text-center">
                <h6> 
                  <ion-text>Create new shipments to track</ion-text>
                </h6>
              </div>
            </a>
          </ion-col>

          <ion-col size="12" sizeMd="6" sizeLg="4">
            <a class="card" [routerLink]="['/dashboard']" >
              <div class="top">
                <div class="icon ion-text-center">
                  <ion-icon name="hourglass-outline" ></ion-icon>
                </div>

                <h5>Manage Tracking</h5>
              </div>
              <div class="bottom ion-text-center">
                <h6>Track and manage shipments</h6>
              </div>
            </a>
          </ion-col>
          
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <a class="card" [routerLink]="['/reset-password']">
              <div class="top">
                <div class="icon ion-text-center">
                  <ion-icon name="key-outline" ></ion-icon>
                </div>

                <h5>Change Password</h5>
              </div>
              <div class="bottom ion-text-center">
                <h6>Do so if malicious activities are detected</h6>
              </div>
            </a>
          </ion-col>
          
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <a class="card" [routerLink]="['/manage-admin']">
              <div class="top">
                <div class="icon ion-text-center">
                  <ion-icon name="person-outline"></ion-icon>
                </div>

                <h5>Manage Admin</h5>
              </div>
              <div class="bottom ion-text-center">
                <h6>Manage authentication details</h6>
              </div>
            </a>
          </ion-col>
          
          <ion-col size="12" sizeMd="6" sizeLg="4">
            <div class="card" (click)="logOut()">
              <div class="top">
                <div class="icon ion-text-center">
                  <ion-icon name="log-out-outline" ></ion-icon>
                </div>

                <h5>Log Out</h5>
              </div>
              <div class="bottom ion-text-center">
                <h6>Exit this device</h6>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>

  </div>
</ion-content>
